body {
  margin: 0;
  text-decoration: none;
  background-color: rgb(187, 187, 187);
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav{
  font-size: 17px;
  text-align: center;
  margin: 0;
  
}

.card-container{
  height: 800px;
  display: flex;
  align-items: center;
  padding: 10px;
}
.cards{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
  
}
.card{
  box-shadow: 4px 24px 60px rgba(109, 141, 173, 0.25);
  border-radius: 20px;
  border: none;
}
.card img{
  border: none;
}
.card-title{
  text-align: center;
  padding-top: .5em;
  font-weight: bold !important;
}
.card-body{
  opacity: .6;
  text-align: center;
}
.plan-card{
 background-color: #33B263 !important;
 display: flex;
 align-content: center;
 justify-content: center;
}


.card-image img{
  background-size: cover;
  width: 611px;
  height: 632px;

}
.content{
  padding: 1rem 4rem;
  color: #ffff;
}

.content div{
  font-size: 15px;
  padding-top: 1rem;
  
}

.product-container{
  width: 100%;
  height: 500px;
  display: grid;
  justify-content: center;
  align-content: center;
}
.products-cards{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2rem;
  justify-content: center;
  align-content: center;
}
.product-Heading{
  font-size: 48px;
  font-weight: 600;
}


.address{
  font-style: italic;
  display: flex;
  color: #ffff;
}
