@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

body {
  margin: 0;
  text-decoration: none;
  background-color: rgb(187, 187, 187);
  list-style: none;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav{
  font-size: 17px;
  text-align: center;
  margin: 0;
  
}
.nav-link{
  font-weight: 500 !important;
  list-style: none;
  color: #fff !important;
  
}

.card-container{
  height: 800px;
  display: flex;
  align-items: center;
  padding: 10px;
}
.cards{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
  
}
.card{
  box-shadow: 4px 24px 60px rgba(109, 141, 173, 0.25);
  border-radius: 20px;
  border: none;
}
.card img{
  border: none;
}
.card-title{
  text-align: center;
  padding-top: .5em;
  font-weight: bold !important;
}
.card-body{
  opacity: .6;
  text-align: center;
}
.plan-card{
 background-color: #001220 !important;
 display: flex;
 align-content: center;
 justify-content: center;
}


.card-image img{
  background-size: contain;
  width: 611px;
  height: 521px;

}
.content{
  margin-top: 2rem;
  padding: 1rem 4rem;
  color: #ffff;
}

.content div{
  font-size: 15px;
  padding-top: 1rem;
  
}

.product-container{
  width: 100%;
  height: 500px;
  display: grid;
  justify-content: center;
  align-content: center;
  background-image: url("./img/bgbg.svg");
}
.product-container h1{
  text-align: center;
  color: #ffff;
  padding-bottom: 1rem;
}
.products-cards{
  display: grid;  
  grid-template-columns: repeat(2,1fr);
  gap: 2rem;
}
.product-Heading{
  font-size: 48px;
  font-weight: 600;
}


.address{
  font-style: italic;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  color: #ffff;
}
.address iframe{
  grid-column: 3/4;
}
.about{
  text-align: center;
  padding: 5rem;
  background: url("./img/vit-university-logo.png") ;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.about p{
  padding: 1rem;
  color: #777777;
  
}
.service{
  padding: 5rem;
  background: url("./img/vit-university-logo.png") ;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: grid;
  grid-template-rows: 100px 1fr;
}

.service h1{
  text-align: center;
  justify-items: center;
  align-self:  end;
}
.service div{
  padding: 2rem 10rem 2rem 10rem;
  list-style-type:disc;
  font-size: large;
}

.login-card{
  width: 500px;
  height: 500px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 16px 40px rgba(0, 0, 0, 0.15);
  margin: 2rem;
  background: url("./img/login-bg.svg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 10px;

}
.login{
  display: flex;
  justify-content: center;
  background: url("./img/vit-university-logo.png") 300px;
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  
}

.phone{
  color: #fff !important;
  margin: 1em !important;
}
.login-card h4{
  margin: 1em 2em;
  font-weight: bold;
}
.login-card button{
  background-color: #33B263 !important;
  border-color:#33B263 ;
  
}
.forget-pass{
  cursor: pointer;
}
.forget-pass:hover{
  color: #005F6A;
  text-decoration: underline;
}
.Register-Here{
  margin-top: 2em;
}
.Register-Here span:hover{
  color: #001220;
  cursor: pointer;
  text-decoration: underline;
}

.form-grid{
  display: flex;
  justify-content: center;
}
.size{
  color: #fff;
  width: 65%;
  margin: 3rem;
  padding: 3rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 16px 40px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("./img/contact-bg.svg");
}
.size h2{
  font-weight: bold;
  text-align: center;
  margin-bottom:2rem;
}
.size button{
  width: fit-content;
}
/* .size input{
  opacity: .5;
}
.size textarea{
  opacity: .5;
} */
input:hover{
  opacity: 1;
}
textarea:hover{
  opacity: 1;
}

.margin{
  margin-bottom: 1rem;
}

.margin-top{
  margin-bottom: 1rem;
}

